clean-source/calculadora_finiquitos/Service References/ServicioFiniquitos/wsServicioFiniquitos4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.10/wsServicioFiniquitos/wsServicioFiniquitos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" />
  <xs:import schemaLocation="http://192.168.0.10/wsServicioFiniquitos/wsServicioFiniquitos.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetObtenerProveedoresProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerProveedoresProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerProveedoresProveedorResult" nillable="true" type="q1:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerSolicitudesB4J">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerSolicitudesB4JResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerSolicitudesB4JResult" nillable="true" type="q4:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargaVariable">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargaVariableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCargaVariableResult" nillable="true" type="q5:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCausales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCausalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCausalesResult" nillable="true" type="q6:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarDocumentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarDocumentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetListarDocumentosResult" nillable="true" type="q7:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimaUF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimaUFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetUltimaUFResult" nillable="true" type="q9:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtrosHaberes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOtrosHaberesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetOtrosHaberesResult" nillable="true" type="q10:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarDescuentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarDescuentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetListarDescuentosResult" nillable="true" type="q11:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerENCFiniquito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerENCFiniquitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerENCFiniquitoResult" nillable="true" type="q13:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratosCalculoPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q14:ArrayOfstring" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratosCalculoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetContratosCalculoPagosResult" nillable="true" type="q16:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasPagos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetEmpresasPagosResult" nillable="true" type="q17:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBancosPagos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBancosPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetBancosPagosResult" nillable="true" type="q18:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoPagoPagos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTipoPagoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTipoPagoPagosResult" nillable="true" type="q19:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalesPagosEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q20:ArrayOfstring" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalesPagosESTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTotalesPagosESTResult" nillable="true" type="q22:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaDocumentoPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q23:ArrayOfstring" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q24:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaDocumentoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetValidaDocumentoPagosResult" nillable="true" type="q25:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaContratosEnCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q26:ArrayOfstring" />
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaContratosEnCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetValidaContratosEnCalculoResult" nillable="true" type="q28:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarContratosCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q29:ArrayOfstring" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q30:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarContratosCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetListarContratosCalculoResult" nillable="true" type="q31:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimoEncDesvinculacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimoEncDesvinculacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetUltimoEncDesvinculacionResult" nillable="true" type="q32:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosConfirmados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q33:ArrayOfstring" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q34:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosConfirmadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetFiniquitosConfirmadosResult" nillable="true" type="q35:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosRecientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q36:ArrayOfstring" />
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q37:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosRecientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetFiniquitosRecientesResult" nillable="true" type="q38:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosSolicitudesBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q39:ArrayOfstring" />
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q40:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosSolicitudesBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetFiniquitosSolicitudesBajaResult" nillable="true" type="q41:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosSolicitudBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q42:ArrayOfstring" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q43:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiniquitosSolicitudBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetFiniquitosSolicitudBajaResult" nillable="true" type="q44:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactorCalculo125">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q45:ArrayOfstring" />
        <xs:element xmlns:q46="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q46:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFactorCalculo125Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetFactorCalculo125Result" nillable="true" type="q47:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerUltimoCorrelativoDisponiblePagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q48:ArrayOfstring" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q49:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerUltimoCorrelativoDisponiblePagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerUltimoCorrelativoDisponiblePagosResult" nillable="true" type="q50:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarRegistroPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q51:ArrayOfstring" />
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q52:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarRegistroPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetValidarRegistroPagoResult" nillable="true" type="q53:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerPagoPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q54:ArrayOfstring" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q55:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerPagoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerPagoPagosResult" nillable="true" type="q56:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataChequePagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q57:ArrayOfstring" />
        <xs:element xmlns:q58="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q58:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataChequePagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetDataChequePagosResult" nillable="true" type="q59:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerProveedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q60:ArrayOfstring" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q61:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerProveedoresResult" nillable="true" type="q62:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerCorrelativoDisponibleProveedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q63:ArrayOfstring" />
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q64:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerCorrelativoDisponibleProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerCorrelativoDisponibleProveedoresResult" nillable="true" type="q65:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerClientesPagos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerClientesPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerClientesPagosResult" nillable="true" type="q66:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerTrabajadoresPagos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerTrabajadoresPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerTrabajadoresPagosResult" nillable="true" type="q67:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerMontoChequePagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q68:ArrayOfstring" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q69:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerMontoChequePagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerMontoChequePagosResult" nillable="true" type="q70:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDatosTrabajadorCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q71:ArrayOfstring" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q72:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDatosTrabajadorCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarDatosTrabajadorCalculoResult" nillable="true" type="q73:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarPeriodosCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q74:ArrayOfstring" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q75:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarPeriodosCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarPeriodosCalculoResult" nillable="true" type="q76:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarConfirmadoFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q77:ArrayOfstring" />
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q78:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarConfirmadoFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetValidarConfirmadoFiniquitoCalculoResult" nillable="true" type="q79:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarContratosCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q80:ArrayOfstring" />
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q81:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarContratosCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarContratosCalculoResult" nillable="true" type="q82:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDocumentosCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q83:ArrayOfstring" />
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q84:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDocumentosCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarDocumentosCalculoResult" nillable="true" type="q85:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarTotalDiasCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q86:ArrayOfstring" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q87:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarTotalDiasCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarTotalDiasCalculoResult" nillable="true" type="q88:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDescuentosFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q89:ArrayOfstring" />
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q90:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDescuentosFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarDescuentosFiniquitoCalculoResult" nillable="true" type="q91:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarOtrosHaberesFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q92:ArrayOfstring" />
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q93:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarOtrosHaberesFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarOtrosHaberesFiniquitoCalculoResult" nillable="true" type="q94:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDiasVacacionesCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q95:ArrayOfstring" />
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q96:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarDiasVacacionesCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarDiasVacacionesCalculoResult" nillable="true" type="q97:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarTotalesFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q98:ArrayOfstring" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q99:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarTotalesFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarTotalesFiniquitoCalculoResult" nillable="true" type="q100:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarHabaeresMensualFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q101:ArrayOfstring" />
        <xs:element xmlns:q102="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q102:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarHabaeresMensualFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarHabaeresMensualFiniquitoCalculoResult" nillable="true" type="q103:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarConceptosAdicionalesFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q104:ArrayOfstring" />
        <xs:element xmlns:q105="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q105:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarConceptosAdicionalesFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarConceptosAdicionalesFiniquitoCalculoResult" nillable="true" type="q106:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarBonosAdicionalesFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q107:ArrayOfstring" />
        <xs:element xmlns:q108="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q108:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarBonosAdicionalesFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarBonosAdicionalesFiniquitoCalculoResult" nillable="true" type="q109:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarValorUfFiniquitoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q110:ArrayOfstring" />
        <xs:element xmlns:q111="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q111:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarValorUfFiniquitoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarValorUfFiniquitoCalculoResult" nillable="true" type="q112:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuscarKamEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q113:ArrayOfstring" />
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q114:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuscarKamEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetBuscarKamEmpresaResult" nillable="true" type="q115:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerSolB4J">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q116:ArrayOfstring" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q117:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerSolB4JResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerSolB4JResult" nillable="true" type="q118:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPValidateProcessInitProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPValidateProcessInitProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTMPValidateProcessInitProveedoresResult" nillable="true" type="q119:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPChequesInProcessProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPChequesInProcessProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTMPChequesInProcessProveedorResult" nillable="true" type="q120:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPValidateProcessInitFiniquitos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPValidateProcessInitFiniquitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTMPValidateProcessInitFiniquitosResult" nillable="true" type="q121:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPChequesInProcessFiniquitos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTMPChequesInProcessFiniquitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTMPChequesInProcessFiniquitosResult" nillable="true" type="q122:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q123:ArrayOfstring" />
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q124:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTokenResult" nillable="true" type="q125:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculoPartimeEspecial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q126:ArrayOfstring" />
        <xs:element xmlns:q127="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q127:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCalculoPartimeEspecialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCalculoPartimeEspecialResult" nillable="true" type="q128:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarTiposProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisualizarTiposProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetVisualizarTiposProveedoresResult" nillable="true" type="q129:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteriaFiniquitos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q130:ArrayOfstring" />
        <xs:element xmlns:q131="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q131:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporteriaFiniquitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetReporteriaFiniquitosResult" nillable="true" type="q132:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantillasCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q133:ArrayOfstring" />
        <xs:element xmlns:q134="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q134:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlantillasCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetPlantillasCorreoResult" nillable="true" type="q135:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertasInformativas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q136:ArrayOfstring" />
        <xs:element xmlns:q137="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q137:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertasInformativasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetAlertasInformativasResult" nillable="true" type="q138:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerProgresivos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q139:ArrayOfstring" />
        <xs:element xmlns:q140="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q140:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerProgresivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerProgresivosResult" nillable="true" type="q141:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerExcepcionPTAreaNeg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q142:ArrayOfstring" />
        <xs:element xmlns:q143="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q143:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerExcepcionPTAreaNegResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerExcepcionPTAreaNegResult" nillable="true" type="q144:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerExcepcionCalculoIAS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q145:ArrayOfstring" />
        <xs:element xmlns:q146="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q146:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerExcepcionCalculoIASResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerExcepcionCalculoIASResult" nillable="true" type="q147:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerFechaIngreso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q148:ArrayOfstring" />
        <xs:element xmlns:q149="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q149:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerFechaIngresoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerFechaIngresoResult" nillable="true" type="q150:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaRepeticionCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q151:ArrayOfstring" />
        <xs:element xmlns:q152="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q152:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidaRepeticionCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetValidaRepeticionCalculoResult" nillable="true" type="q153:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGratificacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q154:ArrayOfstring" />
        <xs:element xmlns:q155="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q155:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGratificacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetGratificacionResult" nillable="true" type="q156:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerExcepcionAFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q157:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerExcepcionAFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetObtenerExcepcionAFCResult" nillable="true" type="q158:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCrearSolicitudB4J">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q159:ArrayOfstring" />
        <xs:element xmlns:q160="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q160:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCrearSolicitudB4JResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetCrearSolicitudB4JResult" nillable="true" type="q161:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdministrarProcesosSolB4J">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q162:ArrayOfstring" />
        <xs:element xmlns:q163="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q163:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdministrarProcesosSolB4JResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetAdministrarProcesosSolB4JResult" nillable="true" type="q164:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertaContratoCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q165:ArrayOfstring" />
        <xs:element xmlns:q166="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q166:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertaContratoCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetInsertaContratoCalculoResult" nillable="true" type="q167:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertaDiasVacaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q168:ArrayOfstring" />
        <xs:element xmlns:q169="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q169:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertaDiasVacacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetInsertaDiasVacacionesResult" nillable="true" type="q170:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertaTotalHaber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q171:ArrayOfstring" />
        <xs:element xmlns:q172="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q172:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertaTotalHaberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetInsertaTotalHaberResult" nillable="true" type="q173:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertarRegistroPagoPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q174:ArrayOfstring" />
        <xs:element xmlns:q175="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q175:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertarRegistroPagoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetInsertarRegistroPagoPagosResult" nillable="true" type="q176:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChequePagado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q177:ArrayOfstring" />
        <xs:element xmlns:q178="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q178:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChequePagadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetChequePagadoResult" nillable="true" type="q179:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChequeDisponiblePagoPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q180:ArrayOfstring" />
        <xs:element xmlns:q181="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q181:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetChequeDisponiblePagoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetChequeDisponiblePagoPagosResult" nillable="true" type="q182:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnularPagoPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q183="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q183:ArrayOfstring" />
        <xs:element xmlns:q184="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q184:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnularPagoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetAnularPagoPagosResult" nillable="true" type="q185:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegistrarPagoProveedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q186:ArrayOfstring" />
        <xs:element xmlns:q187="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q187:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRegistrarPagoProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetRegistrarPagoProveedoresResult" nillable="true" type="q188:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCargaChequeProveedorProveedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q189:ArrayOfstring" />
        <xs:element xmlns:q190="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q190:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCargaChequeProveedorProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetTMPCargaChequeProveedorProveedoresResult" nillable="true" type="q191:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPInitProcessChequeProveedorProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPInitProcessChequeProveedorProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetTMPInitProcessChequeProveedorProveedoresResult" nillable="true" type="q192:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCloseProcessChequeProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCloseProcessChequeProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetTMPCloseProcessChequeProveedorResult" nillable="true" type="q193:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCargaChequeFiniquitos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q194:ArrayOfstring" />
        <xs:element xmlns:q195="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q195:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCargaChequeFiniquitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetTMPCargaChequeFiniquitosResult" nillable="true" type="q196:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPInitProcessChequeFiniquitos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPInitProcessChequeFiniquitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetTMPInitProcessChequeFiniquitosResult" nillable="true" type="q197:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCloseProcessChequeFiniquitos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTMPCloseProcessChequeFiniquitosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetTMPCloseProcessChequeFiniquitosResult" nillable="true" type="q198:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfirmarRetiroCalculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q199="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q199:ArrayOfstring" />
        <xs:element xmlns:q200="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q200:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfirmarRetiroCalculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetConfirmarRetiroCalculoResult" nillable="true" type="q201:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCrearModificarEncDesvinculacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q202:ArrayOfstring" />
        <xs:element xmlns:q203="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q203:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCrearModificarEncDesvinculacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetCrearModificarEncDesvinculacionResult" nillable="true" type="q204:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContratosOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q205:ArrayOfstring" />
        <xs:element xmlns:q206="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q206:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContratosOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetContratosOUTResult" nillable="true" type="q207:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConceptosAdicionalesOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q208:ArrayOfstring" />
        <xs:element xmlns:q209="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q209:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConceptosAdicionalesOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetConceptosAdicionalesOUTResult" nillable="true" type="q210:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDatosVariablesOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q211="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q211:ArrayOfstring" />
        <xs:element xmlns:q212="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q212:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDatosVariablesOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q213="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetDatosVariablesOUTResult" nillable="true" type="q213:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetControlDocumentosOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q214="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q214:ArrayOfstring" />
        <xs:element xmlns:q215="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q215:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetControlDocumentosOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q216="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetControlDocumentosOUTResult" nillable="true" type="q216:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBonosAdicionalesOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q217="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q217:ArrayOfstring" />
        <xs:element xmlns:q218="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q218:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBonosAdicionalesOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q219="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetBonosAdicionalesOUTResult" nillable="true" type="q219:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHaberesYDescuentosOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q220="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q220:ArrayOfstring" />
        <xs:element xmlns:q221="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q221:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHaberesYDescuentosOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q222="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetHaberesYDescuentosOUTResult" nillable="true" type="q222:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDiasVacacionesOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q223="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q223:ArrayOfstring" />
        <xs:element xmlns:q224="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q224:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDiasVacacionesOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q225="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetDiasVacacionesOUTResult" nillable="true" type="q225:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHaberesMensualesOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q226="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q226:ArrayOfstring" />
        <xs:element xmlns:q227="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q227:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHaberesMensualesOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q228="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetHaberesMensualesOUTResult" nillable="true" type="q228:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTotalPagosOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q229="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q229:ArrayOfstring" />
        <xs:element xmlns:q230="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q230:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTotalPagosOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q231="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetTotalPagosOUTResult" nillable="true" type="q231:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnularFolioFiniquito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q232="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q232:ArrayOfstring" />
        <xs:element xmlns:q233="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q233:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAnularFolioFiniquitoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q234="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetAnularFolioFiniquitoResult" nillable="true" type="q234:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFiniquitoPagado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q235="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q235:ArrayOfstring" />
        <xs:element xmlns:q236="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q236:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFiniquitoPagadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q237="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetFiniquitoPagadoResult" nillable="true" type="q237:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotariadoPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q238="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q238:ArrayOfstring" />
        <xs:element xmlns:q239="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q239:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetNotariadoPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q240="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetNotariadoPagosResult" nillable="true" type="q240:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevertirConfirmacionPagos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q241="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q241:ArrayOfstring" />
        <xs:element xmlns:q242="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q242:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevertirConfirmacionPagosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q243="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetRevertirConfirmacionPagosResult" nillable="true" type="q243:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q244="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q244:ArrayOfstring" />
        <xs:element xmlns:q245="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q245:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInsertarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q246="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetInsertarProveedorResult" nillable="true" type="q246:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAgregarFactorContrario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q247="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q247:ArrayOfstring" />
        <xs:element xmlns:q248="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="valores" nillable="true" type="q248:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAgregarFactorContrarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q249="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="SetAgregarFactorContrarioResult" nillable="true" type="q249:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditoCCAFEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q250="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q250:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditoCCAFESTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q251="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCreditoCCAFESTResult" nillable="true" type="q251:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJornadasParttimeEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q252="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q252:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJornadasParttimeESTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q253="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetJornadasParttimeESTResult" nillable="true" type="q253:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrabajadorPartTimeEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q254="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q254:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrabajadorPartTimeESTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q255="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetTrabajadorPartTimeESTResult" nillable="true" type="q255:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroCostos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q256="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q256:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroCostosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q257="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCentroCostosResult" nillable="true" type="q257:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratoActivoBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q258="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q258:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratoActivoBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q259="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetContratoActivoBajaResult" nillable="true" type="q259:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarFiniquitados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q260="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q260:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarFiniquitadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q261="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetListarFiniquitadosResult" nillable="true" type="q261:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarContratosTerminados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q262="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q262:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarContratosTerminadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q263="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetListarContratosTerminadosResult" nillable="true" type="q263:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCausalFicha">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q264="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q264:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCausalFichaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q265="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCausalFichaResult" nillable="true" type="q265:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q266="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q266:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q267="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCargoResult" nillable="true" type="q267:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaNegocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q268="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q268:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q269="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetAreaNegocioResult" nillable="true" type="q269:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimaLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q270="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q270:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUltimaLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q271="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetUltimaLiquidacionResult" nillable="true" type="q271:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajadorSolicitudBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q272="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q272:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajadorSolicitudBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q273="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetRutTrabajadorSolicitudBajaResult" nillable="true" type="q273:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJornadasParttimeOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q274="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q274:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJornadasParttimeOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q275="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetJornadasParttimeOUTResult" nillable="true" type="q275:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajadorSolicitudBajaOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q276="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q276:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajadorSolicitudBajaOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q277="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetRutTrabajadorSolicitudBajaOUTResult" nillable="true" type="q277:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargoOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q278="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q278:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCargoOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q279="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCargoOUTResult" nillable="true" type="q279:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroCostosOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q280="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q280:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroCostosOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q281="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetCentroCostosOUTResult" nillable="true" type="q281:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetencionJudicialOUT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q282="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q282:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRetencionJudicialOUTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q283="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetRetencionJudicialOUTResult" nillable="true" type="q283:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajadorSolicitudBajaCONSULTORA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q284="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q284:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajadorSolicitudBajaCONSULTORAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q285="http://schemas.datacontract.org/2004/07/ServicioFiniquitos" minOccurs="0" name="GetRutTrabajadorSolicitudBajaCONSULTORAResult" nillable="true" type="q285:ServicioFiniquito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>