clean-source/calculadora_finiquitos/Service References/ServicioSoftland/wsServicioSoftland1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.10/wsServicioSoftland/wsServicioSoftland.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.0.10/wsServicioSoftland/wsServicioSoftland.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioSoftland" />
  <xs:element name="GetValidarPermitidoSolBj4">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidarPermitidoSolBj4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetValidarPermitidoSolBj4Result" nillable="true" type="q2:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRutTrabajadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetRutTrabajadorResult" nillable="true" type="q4:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarContratosFiniquitados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListarContratosFiniquitadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetListarContratosFiniquitadosResult" nillable="true" type="q6:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratoActivoBaja">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContratoActivoBajaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetContratoActivoBajaResult" nillable="true" type="q8:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerAreaNegocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerAreaNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetObtenerAreaNegocioResult" nillable="true" type="q10:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObtenerCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetObtenerCargoResult" nillable="true" type="q12:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCentroCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetCentroCostoResult" nillable="true" type="q14:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNObtenerUsuarioResult" nillable="true" type="q16:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNAdicionalEnrolamiento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNAdicionalEnrolamientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNAdicionalEnrolamientoResult" nillable="true" type="q18:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNEsJefatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNEsJefaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNEsJefaturaResult" nillable="true" type="q20:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNFicha">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNFichaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNFichaResult" nillable="true" type="q22:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasUsados">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasUsadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNDiasUsadosResult" nillable="true" type="q24:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNContratoActivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNContratoActivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNContratoActivoResult" nillable="true" type="q26:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasPostTemp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasPostTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNDiasPostTempResult" nillable="true" type="q28:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasPendientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q29:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasPendientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNDiasPendientesResult" nillable="true" type="q30:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasAdministrativos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasAdministrativosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNDiasAdministrativosResult" nillable="true" type="q32:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasAdicionales">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parametros" nillable="true" type="q33:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVNDiasAdicionalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ServicioSoftland" minOccurs="0" name="GetVNDiasAdicionalesResult" nillable="true" type="q34:ServicioSoftland" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>